body {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 130%;
  margin : 0;
  padding : 0;
  background-color : #6085AC;
  color : #000000;
}

/* CONTAINER */

/* Container for banner to top of page */
div#top {
  width: 100%;
}

/* Container to menus, main and bottom */
div#container {
  width: 100%;
  font-size : 0.75em; /* set 12px as standard */
}

/* Container for menus */
div#menu {
  float: left;
  width: 175px;
}

/* Container for main */
div#main {
  margin-left: 175px;
}

/* Container for single box */
div#single {
  width: 100%
}

/* Container for bottom of page */
div#bottom {
  clear: both;
  width: 100%
}

/* MASTHEAD */

/* Masthead band to top of page */
div.masthead {
  padding-top : 4px;
  padding-left : 3px;
  height : 20px;
  background-color : #000000;
  color : #EEEEEE;
}

/* BOX HEAD */

/* Default box head styling */
div.head {
  margin-left : auto;
  margin-right : auto;
  margin-top: 10px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  font-size : 1.1em;
  font-weight : bold;
  padding : 3px;
  background-color : #1E4B79;
  color : #ffffff;
}

/* Extended classes for box head */

/* Ordinary main head styling */
div.head-normal {
  width : 97%;
}

/* Menu head styling */
div.head-menu {
  width : 90%;
}

/* Single box pages head styling */
div.head-small {
  margin-top : 40px;
  width : 400px;
}

/* BOXES */

/* Default box content styling */
div.boxdata {
  margin-left : auto;
  margin-right : auto;
  border-collapse : collapse;
  border: 1px solid #000000;
  padding : 3px;
  background-color : #FFFFFF;
  color : #000000;
}

/* Extended classes for content styling */

/* normal main box content styling */
div.boxdata-normal {
  width : 97%;
  margin-bottom: 10px;
}

/* menu box content styling */
div.boxdata-menu {
  width : 90%;
  margin-bottom: 20px;
}

/* single box page content styling */
div.boxdata-small {
  width : 400px;
}

/* Box content styling for info boxes */
div.boxstyle {
  border-width : 0;
  border-collapse : collapse;
  background-color : #FFFFFF;
  color : #000000;
}

/* normal style */
div.boxstyle-normal {
  padding : 10px 15px 20px 5px;
}

/* shortened bottom padding style */
div.boxstyle-short {
  padding : 20px 15px 5px 5px;
}

/* menu style */
div.boxstyle-menu {
  padding : 3px;
}

/* FOOTER */

/* Class for text at page bottom */
div.bottomtext {
  font-size : 0.75em;
  padding : 10px 0 10px 6px;
  color : #1E4B79;
  background-color : transparent;
}

/* GENERAL CONTENT */

/* Box content styling for archive listing */
div.archivelist {
  padding : 10px 15px 20px 35px;
}

/* Box content styling for project listing */
div.projectlist {
  padding : 10px 15px 20px 35px;
}

/* Box content styling for project listing */
div.taskshow {
  padding : 10px 0 10px 0;
}

/* Class for bbeditor buttons */
img.button {
  margin-top: 4px;
  padding: 4px;
  width: 16px;
  height: 16px;
  border: 1px solid #BBBBBB;
}

/* Width control for input boxes */
input.size {
  width : 200px;
}

/* Table for use in data cells */
table.celldata {
  margin : 5px 0 20px 0;
  border-width: 0;
  padding : 0;
}

/* Table with grey highlight background */
table.decoration {
  background-color: #DDDDDD;
  padding : 5px;
  border: solid black 1px;
  color : #000000;
}

table.colourbar {
  width : 400px;
}

/* Class for project row on summary page */
tr.projectrow {
  background-color : #DDDDDD;
  border-bottom : 1px solid #333;
  font-weight : bold;
}

/* Box content styling for user & group lists */
tr.grouplist td {
  text-align : left;
  font-size : 1em; /* IE 7 can't do 'font:inherit'*/
  font : inherit;
  border-width : 0;
  border-collapse : collapse;
  padding : 5px;
}

tr.grouplist th {
  text-align : left;
  font-size : 1em;
  font : inherit;
  font-weight : bold;
  border-width : 0;
  border-collapse : collapse;
  padding : 5px;
}

tr.searchlist td {
  text-align : left;
  font-size : 1em; /* IE 7 can't do 'font:inherit'*/
  font : inherit;
  border-width : 0;
  border-collapse : collapse;
  padding : 0px;
  vertical-align: top;
}

/* Green progress bar */
td.greenbar {
  border-width : 0;
  border-collapse : collapse;
  white-space : nowrap;
  height : 4px;
  background-color : #008B45;
}

/* Red/orange progress bar */
td.redbar {
  border-width : 0;
  border-collapse : collapse;
  white-space : nowrap;
  height : 4px;
  background-color : #FFA500;
}

/* Menu lists */
ul.menu {
  list-style-type: none;
  padding:0px;
  margin:0px;
}

/* Main box lists */
ul.ul-1 {
  list-style-type: disc;
}

ul.ul-2, ul.ul-3, ul.ul-4, ul.ul-5 {
  list-style-type: circle;
}

/* GENERIC HTML ELEMENTS */

table {
  border-width : 0;
  padding : 0;
}

img {
  /* CSS hack for XHTML strict */
  border-width : 0;
  /* limit uploaded images */ 
  max-width: 500px;
  max-height: 500px;
}

/* CSS hack to hide hidden input fields */
fieldset {
   border: none;
   margin: 0;
   padding: 0;
}

a:link {
  color : #003399;
  background-color : transparent;
  text-decoration : none;
}

a:visited {
  color : #003399;
  background-color : transparent;
  text-decoration : none;
}

a:hover {
  color : #CC0000;
  background-color : transparent;
  text-decoration : none;
}

/* GENERIC TEXT ELEMENTS */

/* Cell with grey background */
.textbackground {
  background-color : #EEEEEE;
  color : #000000;
}

/* Class for underlined text */
.underline {
  text-decoration: underline;
}

/* Font for text based hyperlinks in [brackets] */
.textlink {
  font-size : 0.75em;
  font-weight : bold;
}

/* Class for late graphic */
.late {
  font-family : "Helvetica", Verdana, Arial, Sans-serif;
  font-size : 0.75em;
  font-weight : bold;
  background-color : #FF0000;
  color : #FFFFFF;
}

/* Class for new graphic */
.new {
  font-size : 0.75em;
  font-weight : bold;
  font-style : italic;
  background-color : #00FF7F;
  color : #000000;
}

/* Class for updated graphic */
.updated {
  font-size : 0.75em;
  font-weight : bold;
  background : #00FF7F;
  color : #000000;
}

/* Class for green text */
.green {
  color : #006400;
  font-weight : bold;
  background-color : transparent;
}

/* Class for orange text */
.orange {
  color : #FFA500;
  font-weight : bold;
  background-color : transparent;
}

/* Class for grey text */
.grey {
  color : #BEBEBE;
  background-color : transparent;
}

/* Class for blue text */
.blue {
  color : #0000FF;
  font-weight : bold;
  background-color : transparent;
}

/* Class for red text */
.red {
  color : #FF0000;
  font-weight : bold;
  background-color : transparent;
}
